<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>Atops Jobs Board</title>
    <style>
        body {
            /* background: black; */
            margin: 0 0;
        }

        .header-section {
            background: url('./assets/navyBlue-bg.png')no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            /* height: 300px; */
        }

        .nav-bar {
            padding: 20px 80px;
            display: flex;
            justify-content: space-between;
        }

        .move-logo {
            height: 80px;
            width: 65px;
        }

        .nav-tabs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-tab-link {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 160%;
            /* identical to box height, or 32px */
            letter-spacing: 0.11em;
            color: #FFFFFF;
            cursor: pointer;
            margin-right: 30px;
            transition: all;
            transition-duration: 0.7s;
            border-radius: 10px;
            padding: 10px 20px;
            transition-timing-function: ease-in;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        .nav-tab-link:hover {
            background: #747DCF;
        }

        

        .form-display {
            margin: 20px 60px;
            padding: 10px 20px;
        }

        .job-title-diplay {
            display: flex;
        }

        .job-img {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img-container {
            height: 100px;
            width: 100px;
            background: black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .job-logo{
            height: 60px;
            width: 60px;
        }

        .job-title-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 160%;
            /* identical to box height, or 56px */

            margin: 10px 0px;
            color: rgba(0, 0, 0, 0.7);
            transition: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }
        .job-title-text:hover{
            text-decoration: underline #747DCF 3px;
        }

        .job-title-company-name {
            margin-left: 20px;
        }

        .company-name-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 160%;
            /* identical to box height, or 45px */
            margin: 10px 0px;
            position: relative;
            bottom: 15px;
            color: #686868;
            transition: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }

        .company-name-text:hover{
            text-decoration: underline #747DCF 3px;
        }

        .form-sec{
            display: flex;
            justify-content: space-evenly;
        }
        .job-details-section{
            flex-grow: 1;
            padding: 10px 10px;
            padding-right: 80px;
            padding-top: 100px;
        }
        .job-application-section{
            margin-left: 30px;
            flex-grow: 3;
        }
        .job-detail-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            /* identical to box height, or 29px */


            color: #686868;
        }

        .job-description-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 160%;
            /* or 35px */
            width: 300px;
            letter-spacing: 0.06em;

            color: #3C3B3B;
        }


        .form-head-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 550;
            font-size: 25px;
            line-height: 146%;
            text-transform: capitalize;
            /* text-decoration: underline #747DCF 3px; */
            padding-bottom: 5px;
            border-bottom: #747DCF solid;
            border-bottom-width: 2px ;
            width: fit-content;
            color: #686868;
        }

        .form-head-text-2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 160%;
            /* identical to box height, or 29px */
            color: #0d0d0d;
        }
        

        .form-disclaimer{
            font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 146%;
/* identical to box height, or 34px */


color: #000000;

opacity: 0.5;
        }

        .form-label {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 146%;
            /* or 29px */
            color: #3e3c3c;;
            text-transform: capitalize;
        }

        .form-element{
            margin-top: 25px;
        }
        .input-field {
            border: 0.5px solid rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            width: 90%;
            padding: 10px 10px;
            margin-top: 10px;
            font-size: 19px;
        }
        .input-field:focus{
            outline: none;
        }
        .form-label-checkbox{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 146%;
            /* or 29px */

            /* text-transform: capitalize; */
        }
        .checkbox-input-container{
            display: flex;
            margin-top: 5px;
            
        }
        .submit-btn{
            padding: 10px 20px;
            color: white;
            background: #747DCF;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 146%;
            border: none;
            border-radius: 10px;
        }
        .submit-btn-div{
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <header class="header-section">
        <nav class="nav-bar">
            <img src="./assets/logo.png" alt="move-logo" class="move-logo">
            <div class="nav-tabs">
                <!-- <a href="" class="nav-tab-link">Sign Up</a> -->
                <a href="" class="nav-tab-link">StartUps</a>
                <a href="" class="nav-tab-link">Post Job</a>
            </div>
        </nav>
    </header>
    <div class="form-display">
        <div class="job-title-diplay">
            <div class="job-img">
                <div class="img-container">
                    <img src="/uploads/<%= job.photo %>" alt="" class="job-logo">
                </div>
            </div>
            <div class="job-title-company-name">
                <h1 class="job-title-text"><%= job.role %> (<%= job.remote %>)</h1>
                <h1 class="company-name-text"><%= job.companyName %></h1>
            </div>
        </div>
        <div class="form-sec">
            <div class="job-details-section">
                <h1 class="job-detail-text">Location</h1>
                <h1 class="job-description-text"><%= job.location%>  <%= job.remote %></h1>
                <hr>
                <h1 class="job-detail-text">Type</h1>
                <h1 class="job-description-text"><%= job.position %></h1>
                <hr>
                <h1 class="job-detail-text">Domain</h1>
                <h1 class="job-description-text"><%= job.keywordsArray[0] %></h1>
                <hr>
                
                <div class="form-element submit-btn-div-1"><button type="submit" onclick="openJobApplication('<%= job.id %>')" class="submit-btn">Apply To job</button></div>
            </div>
            <div class="job-application-section">
                <h1 class="form-head-text">Overview</h1>
                <h1 class="form-disclaimer"><%= job.description %></h1>
                <h1 class="form-head-text-2">What you'll do</h1>
                    <% for(let i = 0; i < job.action.length ; i++) { %>
                    <li class="form-disclaimer"><%= job.action[i] %></li>
                    <% } %>
                
                <h1 class="form-head-text-2">Requirements</h1>
                <% for(let i = 0; i < job.requirements.length ; i++) { %>
                    <li class="form-disclaimer"><%= job.requirements[i] %></li>
                    <% } %>
                

                <div class="form-element submit-btn-div"><button type="submit" onclick="openJobApplication('<%= job.id %>')" class="submit-btn">Apply To job</button></div>
                    <!-- <form action="/applyJob">
                    <div class="form-element">
                        <label for="company-name" class="form-label">Full Name</label> <br>
                    <input type="text" name="company-name" id="company-name" class="input-field"
                        placeholder="Your Full Name">
                    </div>
                    <div class="form-element">
                        <label for="primary-role" class="form-label">Email</label> <br>
                    <input type="text" name="primary-role" id="primary-role" class="input-field"
                        placeholder="A valid email for communication">
                    </div>

                    <div class="form-element">
                        <label for="keywords" class="form-label">Where are you from</label> <br>
                    <input type="text" name="keywords" id="keywords" class="input-field"
                        placeholder="Your Based from">
                    </div>

                    <div class="form-element">
                        <label for="website" class="form-label">Twitter</label> <br>
                    <input type="text" name="website" id="website" class="input-field"
                        placeholder="https://">
                    </div>

                    <div class="form-element">
                        <label for="email" class="form-label">GitHub</label> <br>
                    <input type="text" name="email" id="email" class="input-field"
                        placeholder="https://">
                    </div>
                    <div class="form-element">
                        <label for="email" class="form-label">LinkedIn</label> <br>
                    <input type="text" name="email" id="email" class="input-field"
                        placeholder="https://">
                    </div>

                    
                    <div class="form-element">
                        <label for="job-description" class="form-label">Why do you think your best fit for this job</label> <br>
                    <textarea type="text" name="job-description" rows="10" id="job-description" class="input-field"
                        placeholder="Give a brief description about your strengths, capabilities and past experiences"></textarea>
                    </div> 
                    <div class="form-element submit-btn-div"><button type="submit" class="submit-btn">Post JOB</button></div>
                </form> -->
            </div>
            
        </div>
    </div>

    <script>
        function openJobApplication(jobId){
            let link = '/applyToJob?jobId='+jobId;
          window.open(link, '_self');
        }
    </script>

</body>

</html>